@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@400;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primaryColor:#023e8a;
  --primarycolorLght:#0077b6;
  --bgColor: hsl(0, 0%, 100%);
  --formColor: hsl(216, 42%, 87%);
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(0, 0%, 18%);
  --greyColor: hsl(0, 0%, 51%);
  --inputColor: hsl(330, 12%, 97%);
  --cardColor: hsl(300, 1%, 94%);
  --biggestFontSize: 2.5rem;
  --h1FontSize: 1.6rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: 0.938rem;
  --smallFontSize: 0.813rem;
  --smallestFontSize: 0.75rem;
  --borderRadius: 3rem;
}

.destination {
  width: 100%;
}
.destination .hero h1 {
  font-size: var(--biggestFontSize) !important;
  color: var(--primaryColor);
}
.destination .hero .redText {
  margin-top: 1rem;
}
.destination .secContainer {
  width: 85%;
  margin: auto;
  display: grid;
  gap: 2rem;
}
.destination .secContainer .secTitle .redText {
  color: var(--primaryColor);
  font: var(--smallFontSize);
  font-weight: 500;
}
.destination .secContainer h3 {
  font-size: var(--h1FontSize);
}
.destination .secContainer .searchField {
  gap: 1rem;
}
.destination .secContainer .searchField .inputField {
  background: #CAF0F8;
  padding: 1rem;
  border-radius: var(--borderRadius);
  gap: 0.5rem;
}
.destination .secContainer .searchField .inputField input {
  background: transparent;
  border: none;
  overflow: none;
  width: 100%;
}
.destination .secContainer .searchField .inputField .icon {
  color: var(--blackColor);
}
.destination .secContainer .btnb {
  gap: 1rem;
  margin: auto;
  width: 100%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: var(--borderRadius) !important;
  color: var(--whiteColor) !important;
  padding: 0.8rem 1rem !important;
  background: var(--primaryColor) !important;
}
.destination .secContainer .btnb:hover {
  background-color: var(--whiteColor) !important;
  color: var(--primaryColor) !important;
  box-shadow: 0 1px 2px rgb(110, 110, 110);
  transition: 0.3s ease !important;
}
.destination .secContainer .secMenu {
  display: none;
}
.destination .secContainer .destinationContainer {
  margin-top: 2rem;
}
.destination .secContainer .destinationContainer .singleDestination {
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
  height: 260px;
}
.destination .secContainer .destinationContainer .singleDestination .imgDiv {
  position: relative;
  height: 100%;
  width: 100%;
}
.destination .secContainer .destinationContainer .singleDestination .imgDiv img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 3s ease-in-out;
}
.destination .secContainer .destinationContainer .singleDestination:hover .imgDiv img {
  scale: 1.1;
}
.destination .secContainer .destinationContainer .singleDestination .descInfo {
  position: absolute;
  z-index: 2;
  bottom: 0;
  width: 100%;
  padding: 1rem 2rem 1rem;
  justify-content: space-between;
}
.destination .secContainer .destinationContainer .singleDestination .descInfo ::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(200, 200, 200, 0.3));
  z-index: -1;
}
.destination .secContainer .destinationContainer .singleDestination .descInfo .text {
  gap: 0.5rem;
  color: var(--whiteColor);
}
.destination .secContainer .destinationContainer .singleDestination .descInfo .name {
  font-weight: 500;
  display: block;
  padding-bottom: 0.3rem;
  font-weight: var(--h3FontSize);
}
.destination .secContainer .destinationContainer .singleDestination .descInfo .flex,
.destination .secContainer .destinationContainer .singleDestination .descInfo .icon {
  font-size: var(--h2FontSize);
}
.destination .secContainer .destinationContainer .singleDestination .rating {
  padding: 8px 1rem;
  border-radius: var(--borderRadius);
  background: rgba(245, 245, 245, 0.37);
  border: 1.5px solid rgba(255, 255, 255, 0.241);
  font-size: var(--h3FontSize);
  font-weight: 600;
  color: var(--whiteColor);
}
.destination .head h1 {
  color: var(--primaryColor);
  font-size: var(--biggestFontSize);
  font-weight: 900;
}
.destination .head h2 {
  font-size: var(--h1FontSize);
  color: var(--blackColor);
  padding-top: 1rem;
}
.destination .head h4 {
  font-size: var(--h3FontSize);
}
.destination .head span {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.destination .head .highlight {
  font-size: var(--smallFontSize);
  justify-content: center;
  line-height: 1.2rem;
}
.destination .head .highlight b {
  color: var(--blackColor);
}
.destination .par {
  font-size: var(--smallFontSize);
  justify-content: center;
  line-height: 1.2rem;
  margin-bottom: 3rem;
}
.destination .par b {
  color: var(--blackColor);
}
.destination .redText {
  padding-bottom: 3rem;
}
.destination .ticket {
  padding-top: 2rem;
  background-color: var(--primaryColor);
  padding: 1.2rem;
  border-radius: 40px;
}

@media screen and (min-width: 480px) {
  .destination .secContainer .searchField {
    grid-template-columns: repeat(2, 1fr);
  }
  .destination .secContainer .destinationContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 640px) {
  .destination .secContainer .secMenu {
    display: block;
  }
  .destination .secContainer .secMenu .flex {
    width: 100%;
    margin: 2rem auto;
    justify-content: center;
    gap: 1rem;
  }
  .destination .secContainer .secMenu .flex li {
    background: transparent;
    padding: 10px 17px;
    border-radius: var(--borderRadius);
    color: var(--blackColor);
    border: 1.5px dashed transparent;
    cursor: pointer;
  }
  .destination .secContainer .secMenu .flex li:hover {
    color: var(--primaryColor);
    border: 1.5px dashed var(--primaryColor);
  }
}
@media screen and (min-width: 1014px) {
  .destination .secContainer .secTitle .redText {
    font-size: var(--normalFontSize);
  }
  .destination .secContainer .secTitle h3 {
    font-size: var(--h1FontSize);
  }
  .destination .secContainer .secTitle p {
    font-size: var(--h3FontSize);
  }
  .destination .secContainer .secMenu .flex {
    justify-content: left;
  }
  .destination .secContainer .secMenu .flex li {
    background: transparent;
    padding: 10px 17px;
    border-radius: var(--borderRadius);
    color: var(--blackColor);
    border: 1.5px dashed transparent;
    cursor: pointer;
  }
  .destination .secContainer .secMenu .flex li:hover {
    color: var(--primaryColor);
    border: 1.5px dashed var(--primaryColor);
  }
  .destination .secContainer .searchField {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (min-width: 1148px) {
  .destination .secContainer .destinationContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1400px) {
  .destination .secContainer .destinationContainer {
    grid-template-columns: repeat(4, 1fr);
  }
}/*# sourceMappingURL=destination.css.map */