@import url("https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

root {
  --primaryColor:hsl(214, 97%, 27%);
  --primarycolorLght:hsl(201, 100%, 36%);
  --bgColor: hsl(0, 0%, 100%);
  --formColor: hsl(216, 42%, 87%);
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(0, 0%, 18%);
  --greyColor: hsl(0, 0%, 51%);
  --inputColor: hsl(330, 12%, 97%);
  --cardColor: hsl(300, 1%, 94%);
  --biggestFontSize: 2.5rem;
  --h1FontSize: 1.6rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: 0.938rem;
  --smallFontSize: 0.813rem;
  --smallestFontSize: 0.75rem;
  --borderRadius: 3rem;
}

.navBar {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 2rem;
  position: fixed;
  align-items: center;
  width: 100%;
  height: 5rem;
  background: rgba(2, 60, 136, 0.694);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-bottom: solid 2px rgb(157, 216, 239);
  z-index: 1000;
}
.navBar .logoDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--whiteColor);
}
.navBar .logoDiv span {
  font-size: var(--h1FontSize);
  justify-content: center;
  font-weight: 500;
}
.navBar .menu ul {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 0.5rem;
  color: var(--whiteColor);
}

.navList:hover {
  color: #fff;
}

@media screen and (max-width: 767px) {
  .menu {
    position: absolute;
    width: 70%;
    top: -100rem;
    right: 50%;
    left: 50%;
    transform: translate(-50%);
    background-color: hsla(214, 97%, 27%, 0.694);
    padding: 2rem;
    border-radius: 10px;
    transition: 0.8s ease-in-out;
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    box-shadow: 0px 2px 3px 4px rgba(236, 213, 213, 0.516);
  }
  .menu ul {
    display: flex;
    flex-direction: column;
  }
  .menu ul li {
    font-size: var(--h2FontSize);
    font-weight: 500;
    padding: 1rem 0;
    text-align: center;
    cursor: pointer;
  }
  .menu ul li:hover {
    color: var(--whiteColor);
    border-bottom: 1.5px solid var(--whiteColor);
  }
}
.menuIcon,
.closeIcon {
  font-size: var(--h1FontSize);
}
.menuIcon:hover,
.closeIcon:hover {
  color: var(--whiteColor);
}

.closeIcon {
  position: absolute;
  bottom: -10px;
  right: 50%;
  left: 50%;
  color: var(--whiteColor);
  transform: translate(-50%);
  background-color: hsla(214, 97%, 27%, 0.694);
  border-radius: 50%;
}

.showNavbar {
  top: 8rem;
}

@media screen and (min-width: 768px) {
  .navBar .logoDiv span {
    font-size: var(--h2FontSize);
  }
  .navBar .closeIcon,
  .navBar .menuIcon {
    display: none;
  }
  .navBar .menu ul {
    display: flex;
    gap: 1rem;
  }
  .navBar .menu ul li {
    font-size: var(--h3FontSize);
    font-weight: 400;
    text-align: center;
    cursor: pointer;
  }
  .navBar .menu ul li:hover {
    color: var(--whiteColor);
    border-bottom: 1.5px solid var(--whiteColor);
  }
}
@media screen and (min-width: 1240px) {
  .navBar {
    padding: 2rem 6rem;
  }
  .navBar .menu ul {
    gap: 4rem;
  }
}
@media screen and (min-width: 1440px) {
  .navBar {
    padding: 2rem 14rem;
  }
}/*# sourceMappingURL=navbar.css.map */